.social_icons {
    display: none;
    position: fixed;
    /* posicionar social en base de pagina.
    .....en prosceso 
    top: 90%;    
    left: 0%; */
}
.social_icons ul{
    
}

.social_icons .first-li {
    width: 15rem;
    text-decoration: none;    
    display: flex;
    flex-direction: column;
    transition-property:transform;
    transition: ease-out 300ms;
    margin-bottom: 0.5rem;
}
.social_icons .first-li:hover {
    transform: translateX(12rem)
} 
.social_icons .first-li a {
    color: var(--text-color-light);
    width: 20rem;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;     

}
@media (min-width:920px) {
    .social_icons {    
        display: block;    
        top: 75%;    
        left: -16rem;
    }
    .social_icons ul{
        display: block;
    }
    .social_icons .first-li {    
        display: flex;
        flex-direction: row;
    }



}