.button-theme{
    cursor: pointer; 
    
 }
 .theme{
     display: flex;
     justify-content: end;
     width: 3.5rem;    
     font-size: 5rem;
     transition-property: color;
     transition: ease-in 300ms;
 }
 
 .theme:hover{
     color:#C83A6E
 
 }
 