.Languages{
    width: 20rem;
    padding: 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    color: inherit;
      
}
.Languages label{
    transition-property: color;
    transition: ease-out 300ms;
    padding: 0 1rem;
    cursor: pointer;      
}
.Languages label:hover {
    color:#C83A6E
}
.Languages input{
    appearance: none;
}